@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: sans-serif;
  margin-top: 20px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar:horizontal {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal {
  background: #d3cec4;
}

*::-webkit-scrollbar-thumb {
  background-color: #a39e93;
  border-radius: 14px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #857f72;
}

*::-webkit-scrollbar-corner {
  background-color: #d3cec4;
}
